<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymLeaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>

</head>

<body>
	<section>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card bg-secondary">
						<div class="card-header text-center fs">
							Login Page
						</div>
						<div th:if="${param.error}" class="alert alert-danger">
							Invalid username and Password
						</div>
						<div th:if="${param.logout}" class="alert alert-success">
							Logout Successfull !!
						</div>
						<div class="card-body mb-3">
							<form action="/login" method="post">
								
								<div>
									<label>Enter Email</label>
									<input type="text" name="username" class="form-control">
								</div>
								
								<div>
									<label>Enter Password</label>
									<input type="password" name="password" class="form-control">
								</div>
								<button class="btn btn-primary col-md-12 mt-4">Login</button>


							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>